

/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

/* Forum styles */
.forum-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/oceanview.jpg);    
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.forum-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.top-forum-cont {
    font-size: 50px;
    padding: 50px;
    color: whitesmoke;
}

.forum-btns {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
  padding: 0 40px;
}

.forum-btns:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.forum-btns:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.forum-btns:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.topic-container {
    width: 40%;
    background-color: rgba(242, 241, 243, 0.4);
    margin: 5px auto;
    padding: 20px;

}
.msg-container{
    background-color: rgba(242, 241, 243, 0.4);
}

.msg-container .msg-user{
    padding-left: 10px;
    padding-top: 4px;
    font-size: 18px;
}

.msg-container .msg-content {
    text-align: center;
    padding-bottom: 2px;
}

.msg-container .delbtn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content:flex-end;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
  padding: 5px;
  margin: 3px;
}

.topic-container .msg-input {
    margin: 5px auto;
    font-size: 25px;
}

.topic-container .msg-btn {
    align-items: center;
  appearance: none;
  background-color: #44ce6b;
  border-radius: 4px;
  border-width: 0;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content:flex-end;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 25px;
  padding: 5px;
  margin: 3px;
}


/* Image-size on signup page */

img {
    max-width: 20vw;
    max-height: 20vh;
}

/* Styling for login-page */

.log-in-wrapper {
    border: 2px solid black;
    margin-bottom: 2rem;
    background-color: darkgrey;
}

.sign-up-wrapper {
    border: 1px solid black;
    background-color: floralwhite;
}

/* Profile - page */ 

.profile-container {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    width: 1000px;
    margin: auto;
    padding: 30px;
}

.profile-name {
    font-family: 'Roboto', sans-serif;
}

.profile-bio {
    font-family: 'Roboto', sans-serif;;
    font-size: 2em;
    margin-right: 30px;
}

a:link {
    text-decoration: none;
    position: fixed;
    top: 50%; 
    left: 40%; 
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a:visited {
    color: green; 
}

a:hover {
    color: white;
    opacity: .7;
}
a:active {
    color: brown;
}

.profile-name {
    font-size: 3em;
}

.allusers-links {
    position: fixed;
    top: 75%;
    overflow: scroll; 
    height: 150px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.allusers-links .profile-name {
    font-size: 2em;
    margin-left: 2rem;
}

.del-btn-div {
    position: fixed;
    top: 95%; 
}

.del-btn {
    color: black;
    font-size: larger;
    font-weight: bold;
    background-color: brown;
    border: solid black 4px;
}
.del-btn:hover {
    opacity: .6;
}