/* Forum styles */

.forum-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forum-btns {
    padding: 5px;
    align-items: center;
}

.topic-container {
    background-color: aqua;
    margin: 20px;
    padding: 50px;
}

.msg-container {
    background-color: rgb(38, 71, 109);
}

/* Image-size on signup page */

img {
    max-width: 20vw;
    max-height: 20vh;
}

/* Styling for login-page */

.log-in-wrapper {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.sign-up-wrapper {
    border: 1px solid black;
}

/* Profile - page */ 

.profile-container {
    display: flex;
    justify-content: space-around;
}

.profile-name {
    font-size: 3em;

}

.allusers-links {
    position: fixed;
    top: 75%;
    overflow: scroll;
    height: 150px;
    width: fit-content;
}

.allusers-links .profile-name {
    font-size: 2em;
    margin-left: 2rem;
}