/* Forum styles */

.forum-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forum-btns {
    padding: 5px;
    align-items: center;
}

.topic-container {
    background-color: aqua;
    margin: 20px;
    padding: 50px;
}

.msg-container{
    background-color: azure;
}

.msg-user{
    background-color: brown;
}

.msg-content {
    background-color: cornflowerblue;
}

.delbtn {
    background-color: darksalmon;
}

.msg-input {
    background-color: hotpink;
}

.msg-btn {
    background-color: palegreen;
}
/* Image-size on signup page */

img {
    max-width: 20vw;
    max-height: 20vh;
}

/* Styling for login-page */

.log-in-wrapper {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.sign-up-wrapper {
    border: 1px solid black;
}